body {
    margin: 0;
    font-family: 'JetBrains Mono', sans-serif;
    overflow: hidden;
    background-color: #000;
    position: relative;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
    place-items: center;
    z-index: 1;
}

.content {
    text-align: center;
    color: #fff;
    max-width: 80%;
    opacity: 0;
    background-color: transparent;
    animation: fade-in-upwards 2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation-delay: 1s;
}

.content img {
    max-width: 400px; /* Adjust the maximum width as needed */
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    opacity: 0; /* Initially hidden */
    animation: fade-in-upwards 2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation-delay: 1s; /* Delay for the avatar */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links img {
    max-width: 40px; /* Adjust size as needed */
    height: auto;
    padding: 10px;
    opacity: 0; /* Initially hidden */
    animation: fade-in-upwards 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards; /* Shorter duration for social icons */
    animation-delay: 1.75s; /* Delay for the social icons after the avatar */
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #4e4e4e9e;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0; /* Initially hidden */
    animation: fade-in 2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation-delay: 1.5s; /* Adjust delay as needed */
}

@media screen and (max-width: 600px) {
    img {
        max-width: 80%;
        margin-bottom: 10px;
    }
  
    .social-links {
        flex-direction: column;
        align-items: center;
    }
  
    .social-links a {
        margin: 5px 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-upwards {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start 50px down */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the normal position */
    }
}
