*{
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
}

body {
     margin: 0;
     font-family: 'Nunito Sans', 'Segoe UI', sans-serif;
     font-weight: normal;
     color: white;
     align-content: center;
}

.main {
     background: url("photos/background.jpg");
     background-size: cover;
     min-height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.main::before {
     position: absolute;
     content: "";
     background-image: url("photos/background.jpg");
     background-size: cover;
     min-height: 100vh;
     width: 100%;
     filter: contrast(60%);
}

.main-inside {
     position: relative;
}

.logo {
     display: flex;
     justify-content: center;
}

.main-inside .logo img {
     width: 300px;
     height: 300px;
     animation: float 5s infinite ease-in-out;
     border: solid darkgray;
     border-radius: 70%;
     box-shadow: 0 0 15px black;
}

.main-inside .info h1 {
     text-align: center;
     font-weight: 500;
}

.socials {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.socials img {
     align-self: center;
     margin: 0 5px;
     width: 35px;
     height: 35px;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
     border-radius: 100%;
     transition: 0.5s ease-in-out;
}

.socials img:hover {
     box-shadow: 0 0 6px rgba(207, 207, 207, 0.8)
}

.center {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.center p {
     width: 550px;
     text-align: center;
     margin: 0;
}

.center a {
     text-decoration: none;
     color: cyan;
}

@keyframes float {
     0% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
          transform: translateY(0px);
     }
     50% {
          box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.4);
          transform: translateY(-20px);
     }
     100% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
          transform: translateY(0px);
     }
}