*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: rgb(32, 34, 37);
}

p {
    text-align: center;
}

body, p, iframe {
    width: 800px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}