body {
    box-align: center;
    text-align: center;
    background-image: url("photos/background.jpg");
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

a.hyperlinkcolor a:visited a:hover{
    color: crimson;
}

a.hyperlinkcolorfix{
    color: crimson;
}