*{
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
}

body {
    box-align: center;
    text-align: center;
    background-image: url("photos/material.jpg");
    background-size: cover;
    color: white;
}

a.hyperlinkcolor {
    color: cyan;
}