* {
     font-family: 'Segoe UI', sans-serif;
     font-weight: normal;
}

body {
     box-align: center;
     background-image: url("photos/material.jpg");
     background-size: cover;
}

h1, h2, p {
     color: white;
}

h2 {
     margin: 30px 0;
}

.container {
     margin: 0 auto;
     text-align: center;
}

.anyclassyouwant {
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.header {
     height: 100px;
     border-color: white;
     border: 30px;
     text-align: center;
     background-size: 13%;
     margin-left: 60px;
}

.textfix {
     width: 100%;
     max-width: 375px;
     margin: 0 auto;
}

.textfix p {
     text-align: left;
     font-weight: 600;
}

.hyperlink {
     font-weight: bold;
     color: rgb(0, 89, 255);
     text-decoration: none;
     transition: .6s ease-in-out;
}

.hyperlink:hover {
     color: aqua;
}

.grad1 {
     border: 1px solid white;
     background: linear-gradient(140deg, rgba(55,55,55,0) 0%, rgba(144, 144, 172, 0.3) 65%, rgb(170, 218, 228) 100%);
}

.grad1 h1 {
     color: white;
}

.makeupone {
     transform: translateY(0px);
     animation: float 4.5s ease-in-out infinite;
     margin: 20px 0;
}

@keyframes float {
     0% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          transform: translateY(20px);
     }
     50% {
          box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
          transform: translateY(0px);
     }
     100% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          transform: translateY(20px);
     }
}